%section.wrapper
  .banner= cms_snippet_content('team-banner')

  .main
    %h1.title Our Team

    %h1 2015 Team

    .directors= cms_snippet_content('team2015')

    %h1 2014 Team

    .team= cms_snippet_content('team2014')
