%section.wrapper
  .banner= cms_snippet_content('team-banner')

  .main
    %h1.title Our Team

    %h1 Directors

    .directors= cms_snippet_content('directors')

    %h1 Other Team Members

    .team= cms_snippet_content('team')
